/* Login page custom*/
section{
display: block;  
}
.section > .container {
padding-top: 80px;
padding-bottom: 80px; }
.section.section-border > .container {
border-bottom: 1px solid #eee; }
.section.banner {
padding: 0 0; }
.section.testimony > .container, .section.page404 > .container {
padding-top: 50px;
padding-bottom: 0; }
.section.cta > .container {
padding-top: 0;
padding-bottom: 0; }

.section-heading {
font-size: 36px;
line-height: 50px;
font-weight: 400;
color: #003A70;
margin-bottom: 20px; }
.section-heading.center {
    text-align: center; }

.section-subheading {
color: #999999; }

.section-heading-2 {
font-size: 24px;
font-weight: 600;
color: #043140; }

.section{  background-color: #fff !important;}  

ul.checklist {
margin: 0 !important;
}
ul.checklist li {
list-style: none;
margin: 10px 0 25px 35px; }
ul.checklist li:before {
font-family: FontAwesome;
content: "\f00c";
font-size: 20px;
color: #003A70;
margin-left: -35px;
margin-right: 15px; }

.margin-bottom-10 {
margin-bottom: 10px; }

.margin-bottom-30 {
margin-bottom: 30px; }

.margin-bottom-50 {
margin-bottom: 50px; }

.margin-bottom-70 {
margin-bottom: 70px; }


                
dl.hiw {
width: 100%; }
dl.hiw dt {
width: 30px;
float: left; }
dl.hiw dt .fa {
font-size: 24px;
color: #003A70; }
dl.hiw dd {
margin-left: 60px;
/*margin-bottom: 40px;*/
}
dl.hiw dd h4 {
clear: none; }

dd {
margin: 0 0 1.75em; }

/*revisar*/
h1,
h2,
.banner-page .title-page,
h3,
h4,
h5,
.section-subheading,
h6 {
clear: both;
font-weight: 700;
margin: 0;
text-rendering: optimizeLegibility; }

h1,
h2,
.banner-page .title-page,
h3,
h4,
h5,
.section-subheading {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px; }  

/* 2.2. BUTTONS */
:focus {
outline: none; }

.btn, .btn-primary, .btn-secondary {
font-family: "Open Sans", sans-serif;
font-size: 14px;
color: #ffffff;
padding: 15px 35px;
border: 0;
font-weight: 600;
-webkit-border-radius: 3;
-moz-border-radius: 3;
-ms-border-radius: 3;
border-radius: 3; }

.btn-default {
background-color: #f6ba18;
color: #ffffff;
padding: 15px 20px;
border: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
border-radius: 0; }

.btn-default:hover {
background-color: #003A70; }

.btn-orange-cta {
background-color: #f6ba18;
color: #ffffff;
padding: 15px 20px;
border: 0;
font-weight: 600;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
border-radius: 0; }
.btn-orange-cta:hover {
    background-color: #043140;
    color: #ffffff; }

.navbar-main .btn-orange-cta:hover {
background-color: #003A70;
color: #ffffff; }

.btn-primary {
background-color: #006699; }
.btn-primary:hover {
    background-color: #003A70;
    color: #ffffff; }

.btn-secondary {
background-color: #003A70; }
.btn-secondary:hover {
    background-color: #006699;
    color: #ffffff; }

.btn-secondary.disabled {
background-color: #003A70;
border-color: #003A70; }    

/* 2.13. PANEL ACCORDION */
.panel-faq.panel-group .panel {
border-radius: 0px; }
.panel-faq .panel-default {
border-color: transparent; }
.panel-faq .panel-default > .panel-heading {
    color: #333;
    background-color: #f6f6f6;
    border-color: #ddd;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 13px 20px; }
    .panel-faq .panel-default > .panel-heading:before {
    padding: 0 0px 0 20px;
    content: "\002B";
    font-family: Arial;
    font-size: 24px;
    float: right; }
    .panel-faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent; }
    .panel-faq .panel-default > .panel-heading.active {
    background-color: #003A70;
    color: #fff; }
    .panel-faq .panel-default > .panel-heading.active:before {
        color: #fff;
        content: "\002D"; }
.panel-faq .panel-default:hover > .panel-heading {
    color: #003A70; }
.panel-faq .panel-default:hover > .panel-heading.active {
    color: #ffffff; }
.panel-faq .panel-title {
font-size: 16px;
display: table-cell; }
.panel-faq .panel-title > a,
.panel-faq .panel-title > a:active,
.panel-faq .panel-title > a:focus {
    color: inherit;
    text-decoration: none;
    display: inline-table; }
.panel-faq .panel-body {
padding: 15px 30px;
background-color: #fff;
margin-top: 4px; }
.panel-faq .panel-body p {
    margin: 10px 0; }
.panel-faq .collapse.in {
display: block;
visibility: visible; }

/* 2.14. FAQ */
.faq-list {
margin: 0;
padding: 0; }
.faq-list li {
    list-style: none; }
    .faq-list li .fa {
    color: #f00;
    font-size: 14px;
    margin-right: 10px; }
.faq-list .faq-item-image {
    position: relative;
    width: 100%;
    text-align: center; }
.faq-list .faq-item-image img {
    display: block; }
  
/* 6.10 - Testimony */
.people,
.user-pic {
display: block;
max-width: 100%; }    

/*Contact form*/
.widget {
margin-bottom: 50px;
clear: both; }

.widget-title {
font-size: 24px;
font-weight: 700;
color: #043140;
margin-bottom: 40px; }

.list-info {
margin: 0;
padding: 0; }
.list-info li {
    margin-bottom: 20px;
    list-style: none; }
    .list-info li .info-icon {
    display: inline-block;
    color: #003A70;
    font-size: 16px;
    float: left; 
    }
    .list-info li .info-text {
    margin-left: 30px; }  

/* 6.7 Section - CTA */
.cta {
background-color: #003A70 !important;
padding: 20px 0; }
.cta .cta-desc {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-style: italic;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400; }
  
/**
 * 7. - FOOTER
 * -----------------------------------------------------------------------------
 */
.footer {
padding: 50px 0 0 0;
background-color: #212831;
color: #ffffff; }
.footer > .container {
    padding-bottom: 50px; }
.footer .footer-item {
    margin-top: 20px;
    margin-bottom: 20px; }
    .footer .footer-item .footer-title {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0; }
    .footer .footer-item .footer-title:after {
        content: '';
        display: block;
        width: 35px;
        border-bottom: 1px solid #003A70;
        margin-top: 20px; }
    .footer .footer-item .footer-sosmed {
    margin-top: 50px;
    display: inline-block; }
    .footer .footer-item .footer-sosmed a .item {
        color: #ffffff;
        display: table-cell;
        vertical-align: middle;
        margin: 0 14px;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: #1C222A;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        border-radius: 50px; }
        .footer .footer-item .footer-sosmed a .item:hover {
        background-color: #f6ba18; }
        .footer .footer-item .footer-sosmed a .item .fa {
        font-size: 16px; }
    .footer .footer-item .list {
    margin: 0;
    padding: 0; }
    .footer .footer-item .list li {
        list-style: none;
        margin: 14px 0; }
        .footer .footer-item .list li:before {
        content: '\f105';
        font: normal normal normal 16px/1 FontAwesome;
        color: #003A70;
        margin-right: 10px; }
        .footer .footer-item .list li a {
        color: #ffffff; }
        .footer .footer-item .list li a:hover {
            color: #f6ba18; }
.footer .fcopy {
    padding: 30px 0;
    color: #999999;
    font-size: 14px;
    background-color: #1C222A; }